<html>
  <title>MyPokemon</title>
  <body>
    <h2>Sign up to start your collection Trainer!</h2>
    <p><a href="/">Back</a></p><br>
    <form method="post" action="/signup">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email"><br>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br>
      <input type="submit" id="submit" value="Sign Up">
    </form>
  </body>
</html>